@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

.hidden {
  display: none;
}

body {
  background-color: antiquewhite;
  background-image: url("https://cdn4.iconfinder.com/data/icons/solidix-musical-instruments/128/music_instrument-02-512.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 97% 20%;
  background-size: 27%;
}

.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgb(14, 14, 14);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.header.title{
  padding: 40px;
  font-family: 'Trade Winds', cursive;
  font-size: 70px;
  color: whitesmoke;
  background-color: rgb(14, 14, 14);
}

.headerImg{
  background-color: rgb(14, 14, 14);
  width:100%;
  height:180px;
}

.logo {
  max-width: 200px;
}

#sign-out, #sign-in, #sign-up, #about-us{
  padding: 30px;
  color:whitesmoke;
}

pre{
  font-size: 20px;
  font-family: 'Trade Winds', cursive;
}

blockquote {
	font-family:'Trade Winds', cursive;
	max-width: 100%;
	position: relative;
	margin: 0;
	padding: .5rem;
  background: #d7b046;
}

#line1{
  font-size: 40px;
  margin-left: 60px;
}

pre {
  font-size: 24px;
  line-height: 1.4;
  width: 100%;
}

blockquote:before,
blockquote:after {
	position: absolute;
	color: rgba(112, 52, 52, 0.9);
	font-size: 6rem;
	width: 4rem;
	height: 4rem;
}

blockquote:before {
	content: '“';
	left: 0.5rem;
	top: 0rem;
}

blockquote:after {
	content: '”';
	right: 65rem;
	bottom: 0rem;
}

#email, #password {
  color:black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:visited { 
  text-decoration: none; 
  color: #3a3a3d; 
 }

input[type='submit'] {
  margin-top: 10px;
  border: none;
}

.container {
  margin: 80px 450px;
  max-width: 600px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.post {
  max-width: 400px;
  border-radius: 4px;
  margin: 40px;
  border: 2px solid rgba(41, 41, 41, 0.89);
  padding: 4px 0;
}

.post img {
  max-width: calc(100% - 8px);
  display: block;
  margin: 0 auto;
}

.post p {
  padding: 10px;
  font-size: 20px;
}

.form {
  margin: 20px auto;
  text-align: center;
}

.form input {
  display: block;
  margin: 0 auto;
}

.form label {
  padding: 10px;
}

.form h2 {
  font-weight: bold;
}

.footerImg{
  width:100%;
  height:300px;
}